# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/

# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Log files
*.log

# Python packaging
*.egg-info/
dist/
build/
